.clients {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.clients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.clients-title {
  margin-bottom: 0px !important;
}

.clients-nav {
  display: flex;
  gap: 10px;
}

.clients-btn {
  padding: 24px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clients-btn--light {
  background-color: #f3f4f6;
  color: #1f2d3d;
}

.clients-btn--green {
  background-color: rgb(0, 165, 81);
  color: white;
}

.clients-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.clients-card {
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 20px;
  width: calc(50% - 10px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transform: translateX(-100px);
  transition: 0.5s ease-out;
}

.clients-card:nth-child(even) {
  transform: translateX(100px);
}

.clients-card.visible {
  opacity: 1;
  transform: translateX(0);
}

.clients-quote {
  width: 50px;
  margin-bottom: 10px;
}

.clients-quote img {
  width: 100%;
}

.clients-text {
  font-size: 16px;
  color: rgb(136, 136, 136);
  margin-bottom: 20px;
}

.clients-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clients-user img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.clients-user-info strong {
  font-size: 16px;
  color: #1f2d3d;
}

.clients-user-info small {
  font-size: 13px;
  color: #777;
  display: block;
}
