.problems-section {
  margin-bottom: 50px;
  /* overflow: hidden; */
}

.problems-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 70px;
}

.problems-title {
  color: rgb(27, 47, 69);
  font-family: Outfit;
  font-size: 64px;
  font-weight: 400;
  line-height: 81px;
  letter-spacing: 0%;
  text-align: center;
  margin-block: 40px;
}

.problems {
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.problem-item {
  left: 0;
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 27px 20px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 650px;
  z-index: 1;
  font-size: 22px;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s ease-out;
}

.problems .problem-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.problem-item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(191, 255, 126),
    rgb(0, 255, 55)
  );
  z-index: -1;
  border-radius: 14px;
}

.vertical-line {
  position: absolute;
  right: -20px;
  top: 10px;
  bottom: 0;
  width: 2px;
  background-color: rgb(0, 255, 55);
}

.problem-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 12px;
  z-index: -1;
}

/* Solution parallax */
.solution {
  text-align: center;
  transition: transform 0.5s ease-out;
}

.solution-logo {
  width: 230px;
  margin-bottom: 15px;
}

.solution-name {
  font-weight: bold;
  font-size: 48px;
  font-weight: 400;
}

.solution_spani {
  color: #28c76f;
  font-size: 40px;
  font-weight: 400;
}

.solution-description {
  margin-top: 10px;
  border: 2px solid #28c76f;
  padding: 20px 25px;
  color: rgb(27, 47, 69);
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 400;
}
